			</div><!-- ./row -->
		</div><!-- ./container -->

	<!-- ANGULAR -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- ANGULAR ROUTING -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>	
	<!-- MyScript -->
	<script src="/js/app.js"></script>

	</body>
</html>
