<div class="col-md-3">
	<ul class="list-group">
	  <li class="list-group-item">
			<a href="/category/new">
				Create New Category
			</a>
		</li>
	  <li class="list-group-item">
			<a href="/hostel/new">
				Create New Hostel
			</a>
		</li>
	  <li class="list-group-item">
			<a href="/user/new">
				Create New User
			</a>
		</li>
	</ul>
</div>
