  <!-- NEW CATEGORY FORM
  ==================================================-->
  <form>
    <legend>Create New Category</legend>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">      
          <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md">      
        </div><!-- ./form-group -->
      </div><!-- ./col -->
      <div class="form-group">
       <input type="submit" name="submit" value="submit" class="btn btn-primary"> 
      </div><!-- ./form-group -->
    </div><!-- ./row -->
  </form><!-- ./new category form -->
