
  <!-- NEW HOSTEL FORM
  ==================================================-->
  <form>
    <legend>Create New Hostel</legend>
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">      
            <input id="name" name="name" type="text" 
                placeholder="Name" class="form-control input-md">      
        </div><!-- ./form-group -->

        <div class="form-group">      
            <input id="name" name="category" type="text"
                placeholder="Category" class="form-control input-md">      
        </div><!-- ./form-group -->

        <div class="form-group">      
            <textarea id="name" name="address" placeholder="Address"
              class="form-control input-md"></textarea>     
        </div><!-- ./form-group -->

        <div class="form-group">      
            <input id="phoneNumber" name="phone" type="text"
                placeholder="PhoneNumber" class="form-control">
        </div><!-- ./form-group -->

        <div class="form-group">      
            <input id="Name" name="warden[name]" type="text"
                placeholder="Warden Name" class="form-control">      
        </div><!-- ./form-group -->

        <div class="form-group">      
            <textarea id="Address" name="warden[address]" type="text"
                placeholder="Warden Address " class="form-control"></textarea>
        </div><!-- ./form-group -->

        <div class="form-group">      
            <input id="PhoneNumber" name="warden[phone]" type="text"
                placeholder="Warden PhoneNumber" class="form-control">
        </div><!-- ./form-control -->

        <!-- Select Basic -->
        <div class="form-group">      
            <select id="ownerNames" name="owner" class="form-control">      
            </select>
        </div><!-- ./form-group -->
      
        <div class="form-group">
         <input type="submit" name="submit" value="submit" class="btn btn-primary"> 
        </div><!-- ./form-group -->

      </div><!-- ./col -->
    </div><!-- ./row -->
  </form><!-- ./new hostel form -->

