button.invisible-bg {
	background-color: rgba(255, 255, 255, 0);
	border: none;
}




/* BOOTSTRAP RESETS */

.navbar.navbar-inverse {
	border-radius: 0px;
}

li.list-group-item {
	border-radius: 0px !important;
}
