<% include ../partials/header %>

<% include ../partials/sidebar %>

<div class="col-md-9">
  <table class="table">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(function(cat) { %>
      <tr>
        <td><%= cat.name %></td>
        <!-- EDIT -->
        <td>
          <a href="/category/<%= cat._id %>/edit" class="btn btn-warning">
            Edit
          </a>
        </td>
        <!-- DELETE -->
        <td>
          <form action="/category/<%= cat._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div><!-- ./col -->


<% include ../partials/footer %>
